@import "tailwindcss";

:root {
  --background: #182739;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);

  --color-primary-50: #F4F7FB;
  --color-primary-100: #E7EEF7;
  --color-primary-200: #CBDCEC;
  --color-primary-300: #9DBEDC;
  --color-primary-400: #689CC8;
  --color-primary-500: #2F5D8A;
  --color-primary-600: #2A517A;
  --color-primary-700: #264666;
  --color-primary-800: #243C56;
  --color-primary-900: #182739;
  --color-primary-950: #0C2135;

  --color-cream: #F5F3EF;
  --color-gray-text: #737373;
  --color-gray-light: #B4B4B4;

}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

section[id] {
  scroll-margin-top: 5rem;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), Georgia, serif;
}

body::-webkit-scrollbar {
  display: none;
}